.App {
  text-align: center;
  font-family: "Trebuchet MS";
}

.stop-watch {
  border-radius: 10px;
  margin: 0 0 10px 0;
  padding: 10px;
  font-family: "Trebuchet MS";
}

.stop-watch .stop-watch-text {
  margin: 0 0 10px 0;
  font-size: 2rem;
}

.stop-watch button {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px 0 0;
  cursor: pointer;
  font-weight: bold;
}

.stop-watch .start-btn {
  background-color: rgb(19, 125, 9);
  color: white;
}

.stop-watch .start-btn:hover {
  font-weight: normal;
}

.stop-watch .stop-btn {
  background-color: rgb(241, 28, 28);
  color: white;
}

.stop-watch .stop-btn:hover {
  font-weight: normal;
}

.stop-watch .reset-btn {
  background-color: rgb(231, 82, 12);
  color: white;
}

.stop-watch .reset-btn:hover {
  font-weight: normal;
}
